.searchbar{
    background: #FFF;
    border-radius: 48px;
    width: 240px;
    padding-left: 15px;
    padding-right: 30px;
    height: 30px;
}

.suffix{
    position: absolute;
    margin-left: -30px;
    margin-top: 3px;
}