<div class="tool-container">

    <div class="top-5">
        <button class="tab-button" [ngClass]="{'active': activeTab == 'edit'}"  (click)="activeTab = 'edit'">prompt</button>
        <button class="tab-button" [ngClass]="{'active': activeTab == 'upload'}"  (click)=" activeTab = 'upload'">upload</button>
        <i *ngIf="activeTab != ''" class="material-icons notranslate link right grey-text" style="font-size: 17px;" (click)="activeTab = ''">close</i>
    </div>

    <div class="row top-5 text-container" [hidden]="activeTab != 'upload'">
        <span class="tool-title">Envie elementos em SVG</span>
        <app-fileupload id="singleton" (valueChange)="onFileUploaded($event)" [accepts]="'svg'" [label]="'enviar SVG'"></app-fileupload>
    </div>

      <div class="row top-5 text-container" [hidden]="activeTab != 'edit'">
        <app-prompt-input [hideSpinner]="hideSpinner" [label]="'gerar com IA'" (output)="generateSVG($event)" [base]=""></app-prompt-input>
    </div>

  <p class="disclaimer">Arraste ou clique 2x para inserir no componente em edição</p>

    <div id="svg-container" class="row top-5" (cdkDropListDropped)="dragservice.dropElement($event)" cdkDropListConnectedTo="editableObject" cdkDropList>
        <div class="col s6 svgcard top-3" *ngFor="let item of items" cdkDrag [cdkDragData]="item" (dblclick)="dragservice.addElement(item)">
                <img src="{{item.template}}" alt="" class="responsive-img">
                <span class="notranslate">{{item.name}}</span>
        </div>
    </div>
</div>