<div class="modifier bottom-0">
    <div class="row modifier-header bottom-0" (click)="toggle()">
        <div class="col m10 modifier-title bottom-0">
            {{modifier.title}}
        </div>
        <div class="col m2">
            <i class="material-icons white-text link" *ngIf="!show" > expand_more</i>
            <i class="material-icons white-text link" *ngIf="show" > expand_less</i>
        </div>
    </div>
    <div class="row modifier-content top-1 bottom-0" [hidden]="!show">
        <div class="col s12 modifier-descr bottom-1 top-0">
            {{modifier.description}}
        </div>
       
        <app-modifier-radio *ngIf="modifier.type == 'radio'" [modifier]="modifier"></app-modifier-radio>
        <app-modifier-input *ngIf="modifier.type == 'input'" [modifier]="modifier"></app-modifier-input>
        <app-modifier-number *ngIf="modifier.type == 'number'" [modifier]="modifier"></app-modifier-number>
        <app-modifier-image *ngIf="modifier.type == 'image'" [modifier]="modifier"></app-modifier-image>
        <app-modifier-color *ngIf="modifier.type == 'color'" [modifier]="modifier"></app-modifier-color>
    </div>
</div>
