    <app-font-selector  [selectedFont]="selectedFont"    [selectedSize]="selectedSize"    [selectedStyle]="selectedStyle"    [selectedColor]="selectedColor"
    (colorChange)="onColorChange($event)" (fontChange)="onFontChange($event)" (sizeChange)="onFontSizeChange($event)" (styleChange)="onFontStyleChange($event)"></app-font-selector>
    
    <textarea #textinput class="top-3" name="textInput" cols="30" rows="10" [(ngModel)]="currentContent"
        [ngStyle]="{'font-family': selectedFont, 'color': selectedColor, 'font-size': selectedSize + 'px', 'font-style': selectedStyle}"
         style="height: 90px;"></textarea>
    
    <app-ai-button label="gerar com IA" (click)="generateText(textinput.value)"></app-ai-button> 
    
    <a (click)="registerText(textinput.value)" class="btn col s12 top-3 blue darken-1 valign-wrapper">
            <i class="material-icons notranslate valign">save</i>
            salvar</a>