.preview-container {
    position: relative;
    height: 100px;
    width:  100px;
    padding:0 2px 0 2px;
}
.preview-content{
    height: 84px;
    width: 84px;
    background-size: cover;
    background-position: center;
}
.preview-container .tools-container{
    position: absolute;
    bottom: -1px;
}

.tools-container i{
    font-size: 19px;
}