nav {
  top: 0;
  left: 0;
  position: fixed;
  padding: 0 20px 0 20px;
  background: linear-gradient(to left, rgb(46, 50, 82), rgb(79, 3, 102));
  box-shadow: none;
  z-index: 999999;
  height: auto;
  overflow: hidden;
}

.logo {
  height: 60px;
  margin-top: 2px;
}

#main-links {
  margin-left: 10vw;
}

#main-links li {
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#main-links li i {
  margin-right: 2px;
}
