<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">
      <img src="assets/img/logo.png" alt="" class="logo">
    </a>
    <ul id="main-links" class="left grey-text text-lighten-1" *ngIf="gameservice.game">
      <li class="hoverable" routerLink="./sobre">
        <h3 class="valign-wrapper">
          <i class="material-icons valign ">fingerprint</i> SOBRE O JOGO</h3>
      </li>
      <li class="hoverable" routerLink="./regras">
        <h3 class="valign-wrapper "><i class="material-icons valign ">gavel</i> REGRAS</h3>
      </li>
      <li class="hoverable" routerLink="./design">
        <h3 class=" valign-wrapper"><i class="material-icons valign ">extension</i> GAME DESIGN</h3>
      </li>
      <li class="hoverable" routerLink="./testing">
        <h3 class="valign-wrapper"><i class="material-icons valign ">science</i>
          TESTAR JOGO</h3>
      </li>
      <li class="hoverable" routerLink="./checkout">
        <h3 class="valign-wrapper"><i class="material-icons valign ">shopping_basket</i>
          CHECKOUT</h3>
      </li>
    </ul>
    
    <ul id="tool-link" class="right hide-on-med-and-down">
      <li><a ><i class="material-icons grey-text">search</i></a></li>
      <li><a ><i class="material-icons grey-text">visibility</i></a></li>
      <li><a [routerLink]="'/creator'" ><i class="material-icons grey-text">home</i></a></li>
      <li><a ><i class="material-icons grey-text">account_circle</i></a></li>
    </ul>
  </div>
</nav>

