<form [formGroup]="regrasFormGroup">
  <h3 class="title  purple-text">Regras Básicas</h3>
      <div >
        <div class="row">

          
          <div class="row">
            <h3>Descreva as regras do jogo:</h3>
            <div class="col s12">
              <ngx-wig [id]="'rules'" formControlName="regras" [placeholder]="'Digite cada regra separadamente.'"
                class="col m12 top-3 bottom-2" >
              </ngx-wig>
              <app-ai-button [hideSpinner]="hidespinner" label="gerar com IA" class="top-2 left-1" (click)="generateRules(this.regrasFormGroup.controls['regras'].value)"></app-ai-button> 
            </div>
          </div>
        </div>
        <div class="row">
          <button (click)="registerForm()" [disabled]="regrasFormGroup.invalid" class="btn green right next-step">próximo</button>
        </div>
      </div>
</form>