nav{
    position: fixed;
    height: 60px;
    line-height: 60px;
    padding: 0 20px 0 20px;
    background: linear-gradient( to bottom right, #9C27B0, #E91E63);
    box-shadow:none;
    z-index: 999999;
}

.cta-button{
    font-family: 'Barlow Condensed', cursive!important;
    font-size: 20px;
    font-weight: 800;
}