.player-avatar{
    font-size: 79px;
    line-height: 67px;
}

.player-item{
    width: 80px;
    height: 90px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgb(235, 234, 234), rgb(219, 218, 218)); 
    border-radius: 15px;
    font-size: 12px;
}

.player-name{
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    width: 82%;
    margin-top: -2px;
}