.design-canvas{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to right, rgb(212, 212, 212), rgb(168, 168, 168));
    z-index: 99999;
}

.message{
    position: absolute;
    top: 79px;
    left: 395px;
}

#editableObject{
    position: absolute;
    top: 17%;
    left: 30%;
}

#background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
