
<div id="canvas" cdkDropList (cdkDropListDropped)="dragservice.dropElement($event)" cdkDropListConnectedTo="components" class="design-canvas" >
</div>

<div id="editableObject" [ngStyle]="{'zoom': creator.zoomValue/100}" cdkDragBoundary="#canvas" cdkDrag cdkDropList (cdkDropListDropped)="dragservice.dropElement($event)" class="editable-object">
    <img alt="" class="background-img" id="background-img">
    <div id="{{element.id}}" *ngFor="let element of elements.addedElements" cdkDrag cdkDragBoundary="#editableObject"></div>
</div>
