
<div id="canvas" cdkDropList (cdkDropListDropped)="dragservice.dropElement($event)" cdkDropListConnectedTo="components" class="design-canvas" >

</div>

<div id="editableObject" [ngStyle]="{'zoom': creator.zoomValue/100}" (cdkDropListDropped)="dragservice.dropElement($event)" cdkDragBoundary="#canvas" cdkDrag class="editable-object">
    <img alt="" class="background-img" id="background-img" />
    <!-- <app-element-item  [data]="element" class="element-item" cdkDrag [cdkDragBoundary]="'#editableObject'"></app-element-item> -->

    <app-element-item
    *ngFor="let element of elements.addedElements; trackBy: trackById"
    [id]="element.id" 
    [data]="element" 
    class="element-item"
    cdkDrag
    cdkDragBoundary="#editableObject"
    (cdkDragEnded)="dragservice.onDragEnded($event)">
    </app-element-item>

</div>

<app-history-panel></app-history-panel>
