<div class="toolbox-nav z-depth-2">
    <ul>
        <li *ngFor="let item of items" class="hoverable" (click)="getRoute(item.route)">
            <a  routerLinkActive="active" class="grey-text">
              <i class="material-icons-outlined">{{item.icon}}</i>
              <span>{{item.title}}</span>
            </a>
          </li>
          
    </ul>
</div>

<div id="toolbox-drawer" [ngClass]="{'closed': drawer.closeToolbox}">
    <button (click)="drawer.toggleToolbox()" aria-label="Mostrar páginas" class="BIeccA CGQFuA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 16"
        width="96" height="16" fill="rgb(48, 48, 48)">
        <path class="Axi_6A" d="M0 16v-4c20 0 12-12 32-12h32c20 0 12 12 32 12V16z"></path>
        <path class="zl9Kag" d="M0 12.5c20 0 12-12 32-12h32c20 0 12 12 32 12"></path>
      </svg>
    
    <i class="material-icons-outlined grey-text row">expand_more</i>
    </button>
 <div id="router-container">
   <router-outlet *ngIf="!drawer.closeToolbox"  ></router-outlet>
 </div>
</div>