<div class="row">
    <a (click)="setVerticalAlign('end')" class="btn-align"><i class="material-icons">vertical_align_bottom</i></a>
    <a (click)="setVerticalAlign('center')" class="btn-align"><i class="material-icons">vertical_align_center</i></a>
    <a (click)="setVerticalAlign('start')" class="btn-align"><i class="material-icons">vertical_align_top</i></a>
    <a (click)="setHorizontalAlign('start')" class="btn-align"><i class="material-icons">align_horizontal_left</i></a>
    <a (click)="setHorizontalAlign('center')" class="btn-align"><i class="material-icons">align_horizontal_center</i></a>
    <a (click)="setHorizontalAlign('end')" class="btn-align"><i class="material-icons">align_horizontal_right</i></a>
</div>