
.card-holder{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 61vw;
    height: 100%;
    gap:5px;
    overflow-y: hidden;
    overflow-x: auto;
}

.close-button{
    position:absolute;
    top:5px;
    right: -28px;
    z-index:99999;
}

.drag-button{
    position:absolute;
    top:40px;
    right: -28px;
    z-index:99999;
}
