.generate-btn{
    border-radius: 14px;
    font-size: 11px;
    background: linear-gradient(to right, #840aa6 0%, #3f045d 100%);
    padding: 0px 18px;
    height: 27px;
    line-height: 27px;
}

.generate-btn i{
    font-size: 15px;
}

.prompt-input{
    border-radius: 20px;
    height: 80px!important;
    padding: 5px;
    font-size: 12px;
    color: #FFF;
}
