  <div class="top-1">
    <button *ngFor="let tab of modifier.options" [ngClass]="{'active': activeTab == tab}"  (click)="setActiveTab(tab)">{{tab}}</button>
  </div>
  
  <div class="row bottom-0 top-2" [hidden]="activeTab != 'upload'">
      <app-fileupload (valueChange)="onValueChange($event)" [accepts]="'img'" [label]="''" [path]="path"></app-fileupload>
  </div>
  <div class="row bottom-0 top-2" [hidden]="activeTab != 'imageprompt'">
    <app-prompt-input [isImage]="true" [hideSpinner]="hideSpinner" [label]="" (styleChange)="selectedStyle = $event" (output)="generateImage($event)" [base]=""></app-prompt-input>
  </div>
  <div class="row bottom-0 top-2"  [hidden]="activeTab != 'svgprompt'">
    <app-prompt-input [hideSpinner]="hideSpinner" [label]="" (output)="generateSVG($event)" [base]=""></app-prompt-input>
  </div>
  