<div id="controls" class="scroll-panel">
    <!-- <span id="players-title">Jogadores</span> -->
    <div id="round-counter">
        <p class="top-0 bottom-0">RODADA</p>
        <h1 class="top-0 bottom-0">{{testing.currentRound}}</h1>
        <app-step-controls></app-step-controls>
    </div>
    <div id="controls-container">
        <a (click)="openRules()" id="rulesbook"> 
            <i class="material-icons black-text">menu_book</i>
            <span>regras</span>
        </a>
        <app-control-item *ngFor="let control of testing.controls" style="height: 100px; width:100px" [control]="control" (click)="controlSelected(control)"></app-control-item>
    </div>
</div>

<div id="activeControl" class="component center" [hidden]="!testing.activeControl" 
 cdkDropList cdkDrag [cdkDropListConnectedTo]="testing.playersID()">
    <i (click)="testing.activeControl = null" class="material-icons rounded white link close-button">close</i>
    <h1 *ngIf="testing.showResult" class="result-display">{{testing.result}}</h1>
    <div class="content" >
          <img cdkDrag [cdkDragData]="testing.activeControl"  [cdkDragDisabled]="false" cdkDragPreview src="{{testing.activeControl?.imagem}}" class="component-image center" [ngClass]="testing.activeControl?.classname" alt="">
          <img *ngIf="testing.actionPlay" src="{{testing.activeControl?.imagem}}" class="component-image center " [ngClass]="[testing.activeControl ? testing.activeControl.classname : '', testing.actionPlay ? testing.actionPlay : '']" alt="">
          <img *ngIf="testing.actionPlay" src="{{testing.activeControl?.imagem}}" class="component-image center " [ngClass]="[testing.activeControl ? testing.activeControl.classname : '', testing.actionPlay ? testing.actionPlay : '']" alt="">
          <img *ngIf="testing.actionPlay" src="{{testing.activeControl?.imagem}}" class="component-image center " [ngClass]="[testing.activeControl ? testing.activeControl.classname : '', testing.actionPlay ? testing.actionPlay : '']" alt="">
          <img *ngIf="testing.actionPlay" src="{{testing.activeControl?.imagem}}" class="component-image center " [ngClass]="[testing.activeControl ? testing.activeControl.classname : '', testing.actionPlay ? testing.actionPlay : '']" alt="">
          <img *ngIf="testing.actionPlay" src="{{testing.activeControl?.imagem}}" class="component-image center " [ngClass]="[testing.activeControl ? testing.activeControl.classname : '', testing.actionPlay ? testing.actionPlay : '']" alt="">
      
      <app-ammount-display class="ammount-container" [size]="'big'" [ammount]="testing.activeControl?.ammount"></app-ammount-display>
      <div>
        <a class="btn actionbutton" *ngFor="let action of testing.activeControl?.actions" (click)="testing.runCode(action)" >{{action.title}}</a>
      </div>
    </div>
</div>

  <!-- Modal Structure -->
  <div id="modalrules" class="modal">
    <div class="modal-content">
        <div class="row">
            <app-regras-preview [hideButtons]="true"></app-regras-preview>
        </div>
        <!-- <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col" *ngFor="let tab of steps_regras" ><a (click)="getTab(tab.route)">{{tab.label}}</a></li>
              </ul>
            </div>
            <div *ngFor="let tab of steps_regras" id="{{tab.route}}" class="col s12">
                <div [innerHTML]="testing.getRulesContent(tab.route)"></div>
            </div>
          </div> -->
                

    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">fechar</a>
    </div>
  </div>