<div id="controls" class="scroll-panel">
    <!-- <span id="players-title">Jogadores</span> -->
    <div id="round-counter">
        <p class="top-0 bottom-0">RODADA</p>
        <h1 class="top-0 bottom-2">{{testing.currentRound}}</h1>
    </div>
    <div id="controls-container">
        <app-control-item *ngFor="let control of testing.controls" [control]="control" (click)="controlSelected(control)"></app-control-item>
    </div>
</div>

<div id="activeControl" class="component center" [hidden]="!testing.activeControl" >
    <i (click)="testing.activeControl = null" class="material-icons purple link">close</i>
    <img src="{{testing.activeControl?.imagem}}" class="component-image center" [ngClass]="testing.activeControl?.classname" alt="">
    <a class="btn actionbutton" *ngFor="let action of testing.activeControl?.actions" (click)="testCode(action)" >{{action.title}}</a>
</div>