
<div id="sobre" class="row welcome">
  <h3 class="session-title center top-10">Somos Build-A-Board</h3>
    <h3 class="col m8 push-m2 top-5">Bem-vindo ao Build-A-Board!
      Aqui você projeta, divulga e vende seus próprios jogos de tabuleiro, cartas, dominós e muito mais, com muita
      facilidade.
      Seja você um designer de jogos experiente ou iniciante, nossas ferramentas intuitivas tornam simples
      a criação e personalização do seu jogo de acordo com suas especificações.
      Cadastre-se agora para começar a construir seu jogo dos sonhos!</h3>
 
    <h3 class="col m8 push-m2 top-5">
      O Build-A-Board é acessível e fácil de usar, até para iniciantes. Crie um jogo exclusivo, desde o design das peças
      até as regras de jogo. Transforme sua visão em realidade com nossas ferramentas!
    </h3>

    <div class="row flex ">
      <div class="col flex">
        <img src="assets/img/sword.png" alt="">
      </div>
      <div class="col flex">
        <img src="assets/img/poker.png" alt="">
      </div>
      <div class="col flex">
        <img src="assets/img/dominoes.png" alt="">
      </div>
      <div class="col flex">
        <img src="assets/img/fun.png" alt="">
      </div>
      <div class="col flex">
        <img src="assets/img/dice.png" alt="">
      </div>
    </div>
  </div>