<div class="tool-container">

    <div class="top-5">
        <button class="tab-button" [ngClass]="{'active': activeTab == 'edit'}"  (click)="activeTab = 'edit'">editar</button>
        <button class="tab-button" [ngClass]="{'active': activeTab == 'upload'}"  (click)=" activeTab = 'upload'">upload</button>
        <i *ngIf="activeTab != ''" class="material-icons link right grey-text" style="font-size: 17px;" (click)="activeTab = ''">close</i>
    </div>

    <div class="row top-5 text-container" [hidden]="activeTab != 'upload'">
        <span class="tool-title">Envie seus textos em XLS ou CSV</span>
        <app-fileupload id="singleton" (valueChange)="onFileUploaded($event)" [accepts]="'xls'" [label]="'enviar arquivo'"
            [path]="path" [multiple]="true"></app-fileupload>
    </div>

    <div class="row top-5 text-container" [hidden]="activeTab != 'edit'">
       <app-text-editor (textChange)="registerText($event)" [textData]="editText"></app-text-editor>
    </div>

  <p class="disclaimer">Arraste ou clique 2x para inserir o texto no componente em edição</p>
   

    <div id="text-container" class="row top-5" (cdkDropListDropped)="dragservice.dropElement($event)" cdkDropListConnectedTo="editableObject" cdkDropList>
        <div class="col s12 textcard" *ngFor="let item of items" cdkDrag [cdkDragData]="item" (dblclick)="creator.addTextToComponent(item)">
                <span [ngStyle]="{'font-family': item.selectedFont, 'color': item.selectedColor, 'font-size': item.selectedSize + 'px', 'font-style': item.selectedStyle}"
                class="card-title">{{item.content}}</span>
               <i (click)="removeText(item)" class="material-icons white-text link right">delete</i>

        </div>
    </div>
</div>