<div id="destaques" class="row section">
  <h3 class="session-title center top-10">Jogos em Destaque</h3>
    <div *ngFor="let item of destaques" class="col s12 m4 catalog-item">
      <div class="card">
        <div class="card-image">
          <img src="{{item.image}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{item.title}}</span>
          <p>{{item.description}}</p>
        </div>
        <div class="card-action">
          <a href="#">ver mais</a>
        </div>
      </div>
    </div>
  </div>
          