.decrease{
    font-size: 18px;
    margin-right: 10px;
}

.increase{
    font-size: 30px;
    margin-left: 10px;
}

.zoom {
    margin: 0!important; 	/* this is not a good solution, but it works */
    height: 45px!important; 	/* this is not a good solution, but it works */
    margin-right: 20px;
    margin-top: -18px;
}

input[type=range] {
    border: 1px solid #c7c7c7!important;
}